@model IEnumerable<MvcLabManager.Models.Lab>

@{
    ViewData["Title"] = "Laborat贸rios";
}
<h1>@ViewData["Title"]</h1>

@if(Model.Count() == 0)
{
    <p>Nenhum laborat贸rio cadastrado!</p>
    <a class="btn btn-primary btn-sm" asp-action="Cadastrar">Cadastre um novo laborat贸rio</a>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Number</th>
                <th>Name</th>
                <th>Block</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var lab in Model){
                <tr>
                    <td>@lab.Id</td>
                    <td>@lab.Number</td>
                    <td>@lab.Name</td>
                    <td>@lab.Block</td>
                    <td>
                        <a class="btn btn-primary btn-sm" asp-controller="Lab" asp-action="Show" asp-route-id="@lab.Id">Ver</a>
                        <a class="btn btn-primary btn-sm" asp-controller="Lab" asp-action="Atualizar" asp-route-id="@lab.Id">Atualizar</a>
                        <a class="btn btn-primary btn-sm" asp-controller="Lab" asp-action="Deletar" asp-route-id="@lab.Id">Deletar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a class="btn btn-primary btn-sm" asp-action="Cadastrar">Cadastre um novo laborat贸rio</a>
}
